# Environment identifier: dev | staging | prod
APP_ENV=dev

# AWS and data source
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=replace-only-for-local-dev
AWS_SECRET_ACCESS_KEY=replace-only-for-local-dev
ELECTRICITY_MAPS_TOKEN=replace-with-token

# Airflow Docker
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_UID=50000
POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me_securely
POSTGRES_DB=airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:change_me_securely@postgres/airflow
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:change_me_securely@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=replace-with-generated-fernet-key
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=change_me_securely

# Airflow DAG runtime configuration
AIRFLOW_AWS_CONN_ID=aws_default
SPARK_SSH_CONN_ID=spark_ssh
SPARK_REPO_PATH=/opt/green-ai-analytics-platform/spark
AIRFLOW_SCRIPTS_PATH=/opt/airflow/scripts
AIRFLOW_DATA_PATH=/opt/airflow/data

# Buckets (must be explicit per environment)
S3_BRONZE_BUCKET=replace-bronze-bucket
S3_SILVER_BUCKET=replace-silver-bucket
S3_GOLD_BUCKET=replace-gold-bucket
