# ========================
# Entornos virtuales
# ========================
.venv/
venv/

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Variables de entorno
# ========================
.env

# ========================
# Terraform
# ========================
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# Datos 
# ========================
data/

# ========================
# Sistema operativo
# ========================
.DS_Store
Thumbs.db